*.aux
*.bbl
*.blg
*.i
*.o
*.po
*.po.rel
*.pyc
*.pyc
*.s
*.~*~
*_log
*~
.#*
/Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in~
/config.log
/config.status
/info_for_sergey.txt
/katana-*.tar.gz
/katana-*.tar.gz.sig
/nohup.out
/pullAll.sh
/pushAll.sh
/stamp-h1
/t
a.out
core
dump*
errlog
katana
katana.tar.gz
log
memloss
notes.txt
patched
patchee
test
test.po
testdump
time
typepatch
