*.i
*.o
*.po
*.po.rel
*.pyc
*.s
*.~*~
*_log
/Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in~
/config.log
/config.status
/katana-0.1.0b.tar.gz
/katana-0.1.0b.tar.gz.sig
/nohup.out
/pullAll.sh
/pushAll.sh
/stamp-h1
/t
a.out
core
errlog
katana
log
memloss
patched
patchee
test.po
testdump
typepatch
