*.o
*.s
*.i
*.po
*.po.rel
*_log
*.pyc
/Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in~
/config.log
/config.status
/katana-0.1.0b.tar.gz
/nohup.out
/stamp-h1
/t
a.out
core
errlog
katana
log
memloss
patched
patchee
test.po
testdump
typepatch
