/#*.tex#
/.#challenges.tex
/.#design.tex
/.#discussion.tex
/.#patching.tex
/.cvsignore
/.~lock.secse-main.doc#
/CVS
/Makefile
/bare_conf.pdf
/main.out
/making.pdf
/secse-main-final.pdf
/secse-main.ent
/secse-main.log
/secse-main.odt
/secse-main.pdf
/secse-main.rtf
